<nav class="navbar navbar-dark bg-dark justify-content-between p-4">
  <a class="navbar-brand" href="/">Camagru</a>
  <form class="form-inline">
    <a class="btn btn-light" href="/login">Login</a>

    <a class="btn btn-light" type="/register">Register</a>
  </form>
</nav>